<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encurtador Elo</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class=bd-light>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/logo.svg" alt="" width="72" height="72">
            <h1>URL Builder</h1>
            <p class="lead">Ferramenta para geração de links trackeados (com UTM's) para Google Analytics e encurtador via Bit.ly. Siga o passo a passo abaixo:</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger message-url-inicial" role="alert">
                    Prencha os campos de maneira adequada! Escolha a URL que você deseja direcionar a ação ou preencha o campo de URL.
                </div>
                <div class="col-md-10 mb-3">
                    <h3>Escolha a página que você deseja fazer a ação:</h3>
                    <div class="custom-control custom-radio">
                        <input id="site-use-elo" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://use.elo.com.br/">
                        <label class="custom-control-label" for="site-use-elo">Site Use Elo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="site-use-elo-bradesco" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://use.elo.com.br/bradesco/">
                        <label class="custom-control-label" for="site-use-elo-bradesco">Site Use Elo - Bradesco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="site-use-elo-banco-do-brasil" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://use.elo.com.br/banco-do-brasil/">
                        <label class="custom-control-label" for="site-use-elo-banco-do-brasil">Site Use Elo - Banco do Brasil</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="site-use-elo-caixa" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://use.elo.com.br/caixa/">
                        <label class="custom-control-label" for="site-use-elo-caixa">Site Use Elo - Caixa</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="site-use-elo-pernambucanas" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://use.elo.com.br/pernambucanas/">
                        <label class="custom-control-label" for="site-use-elo-pernambucanas">Site Use Elo - Pernambucanas</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="site-elo" name="url-inicial" type="radio" class="custom-control-input" required="" value="https://elo.com.br/">
                        <label class="custom-control-label" for="site-elo">Site Elo</label>
                    </div>
                    <div class="col-md-10 mb-3">
                        <br>
                        <h5>Ou insira a página do site que deseja fazer a ação. </h5>
                        <label for="url-inicial-alternativa">Pode ser uma página de oferta ou produtos. <span class="text-muted">(Lembre-se copiar a URL completa)</span></label>
                        <input type="text" class="form-control" id="url-inicial-alternativa" value="" placeholder="Ex:https://elo.com.br/eloofertas/oferta.html?id=101405" name="url-inicial-alternativa">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger message-utm-source" role="alert">
                    Prencha os campos de maneira adequada! Por quem será divulgada a ação?
                </div>
                <div class="col-md-10 mb-3">
                    <h3>Por quem será divulgada essa ação?</h3>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-bradesco" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=EmissorBradesco">
                        <label class="custom-control-label" for="utm-source-bradesco">Bradesco</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-banco-do-brasil" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=EmissorBancodoBrasil">
                        <label class="custom-control-label" for="utm-source-banco-do-brasil">Banco do Brasil</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-caixa" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=EmissorCaixa">
                        <label class="custom-control-label" for="utm-source-caixa">Caixa</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-pernambucanas" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=EmissorPernambucanas">
                        <label class="custom-control-label" for="utm-source-pernambucanas">Pernambucanas</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-google" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=Google">
                        <label class="custom-control-label" for="utm-source-google">Google</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-facebook" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=Facebook">
                        <label class="custom-control-label" for="utm-source-facebook">Facebook</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-sms" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=SMS">
                        <label class="custom-control-label" for="utm-source-sms">SMS</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-emailmarketing" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=EmailMarketing">
                        <label class="custom-control-label" for="utm-source-emailmarketing">Email Marketing</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="utm-source-smartmessage" name="utm-source" type="radio" class="custom-control-input" required="" value="utm_source=SmartMessage">
                        <label class="custom-control-label" for="utm-source-smartmessage">Smart Message</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 mb-3">
                    <h3>Qual formato que será usado?</h3>
                    <p>Campo não obrigatório.</p>
                    <label for="utm-medium">Ex: Display, Internet Banking, Intranet.... <span class="text-muted">(Lembre-se de escrever o texto todo junto e em letras minúsculas)</span></label>
                    <input type="text" class="form-control" id="utm-medium" value="" placeholder="Ex: internetbanking, display, intranet, ...." name="utm-medium">
                </div>
                <div class="alert alert-dark message-utm-source" role="alert">
                    Você nao preencheu nenhuma informação de qual será o tipo de mídia utilizada. Apesar de opcional, esse campo é muito importante para nossas mensurações.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 mb-3">
                    <hr class="mb-4">    
                </div>
            </div>
        </div>
        <div class="row  mb-3 justify-content-center">   
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" id="gerar-url" type="submit">Gerar URL</button>   
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-12">
                <div class="col-md-10  mb-3">
                    <div id="url-final-div" class="alert alert-success mb-3">
                        <p>A URL final é: <a class="alert-link" id="url-final"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 mb-3">
                    <hr class="mb-4">    
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-10  mb-3">
                <div id="url-shorten-form" class="mb-3">
                    <form id="elo_url_shortener_form" class="mb-3" action="/elo_url_shortener" method="POST" data-url="/elo_url_shortener" >{% csrf_token %}
                        <h4>Deseja encurtar a URL? Clique abaixo:</h4>
                        <div class="input-group">
                            {{ form_elo_url_to_be_shorten.elo_url_to_be_shorten }}
                            <div class="input-group-append">
                                <button type="submit" id="shorten-button" class="btn btn-secondary">Encurtar URL</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="final-elo-shorten-url" class="alert alert-success" role="alert">
                    <p>A url encurtada é: <a id="final-elo-shorten-url-span" class="alert-link"></a></p>
                    <p><strong>Lembre-se de testar a URL antes de enviar para o parceiro.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/logo.svg" alt="" width="72" height="72">
            <p>URL Builder</p>
            <p class="lead"></p>
            <span class="text-muted">Qualquer dúvida, entre em contato com digital@elo.com.br</span>
        </div>
    </div>
    
    <script>
        $(document).ready(function(){
            
            //Ao carregar o DOM e escondemos as divs:
            $("#url-final-div").hide();//1-) Da URL Final
            $("#url-shorten-form").hide();//2-)O Form para criar a url encurtada
            $("#final-elo-shorten-url").hide();//3-) A DIV que terá URL final encurtada
            $(".message-url-inicial").hide();//4-) A mensagem de erro da URL_INICIAL
            $(".message-utm-source").hide();//5-) A mensagem de erro da UTM_SOURCE
            $(".message-utm-medium").hide();//6-) A mensagem de erro da UTM_MEDIUM

            //No click do primeiro botão de geral url parametrizada:
            $("#gerar-url").click(function() {
                //Validamos se os campos contem conteúdo.
                var url_inicial = $("input[name='url-inicial']:checked").val();
                var url_inicial_alternativa = $("#url-inicial-alternativa").val();
                var utm_source = $("input[name='utm-source']:checked").val();
                if (url_inicial  == undefined && utm_source == undefined && url_inicial_alternativa.length == 0){
                    $(".message-url-inicial").show();
                    $(".message-utm-source").show();
                } else if(url_inicial  == undefined && url_inicial_alternativa.length == 0){
                    $(".message-url-inicial").show();
                    $(".message-utm-source").hide();
                }
                else if(utm_source == undefined){
                    $(".message-url-inicial").hide();
                    $(".message-utm-source").show();
                }
                else{
                    $(".message-url-inicial").hide();
                    $(".message-utm-source").hide();
                    //Atribui o valor da UTM medium
                    var utm_medium = $("#utm-medium").val();
                    //Mostamos as div e form para encurtamento.
                    $("#url-final-div").show();
                    $("#url-shorten-form").show();
                    
                    console.log("Comecou os condicionais para a geracao da URL")
                    //Por ser um campo aberto, caso a UTM_MEDIUM não tenha conteúdo, excluimos essa variavel da concatenacao
                    if(utm_medium.length == 0){
                        console.log("Entrou no condicional de Sem UTM");
                        if(url_inicial_alternativa.length==0){
                            console.log("Entrou no condicional de nao ter url Alternativa");
                            var url_parcial = url_inicial+"?"+utm_source;
                            $(".message-utm-medium").show(); 
                            $("#url-final").text(url_parcial);
                            $("#url_parcial_input").val(url_parcial);
                            
                        } else{
                            console.log("entrou no condicional de url alternativa")
                            //Checando o valor da ultima letra da url para inserir ou o & ou o ?
                            ultima_letra_url_inicial_alternativa=url_inicial_alternativa.slice(-1);
                            numero_ou_ultima_letra_url_inicial_alternativa = Number(ultima_letra_url_inicial_alternativa)
                            console.log(numero_ou_ultima_letra_url_inicial_alternativa);
                            if(Number.isInteger(numero_ou_ultima_letra_url_inicial_alternativa)){
                                var url_parcial = url_inicial_alternativa+"&"+utm_source;
                            }
                            else{
                                var url_parcial  = url_inicial_alternativa+"?"+utm_source;
                            }
                            $(".message-utm-medium").show();
                            $("#url-final").text(url_parcial);
                            $("#url_parcial_input").val(url_parcial);   
                        }     
                    } else{
                        if(url_inicial_alternativa.length==0){
                            //Se tiver conteúddo, atribuimos o valor dos campos a variaveis
                            //Concatenamos os valores para formar um string e mostramos o resultado
                            var utm_medium = "&utm_medium="+ utm_medium;
                            var url_parcial = url_inicial+"?"+utm_source+utm_medium;
                            $("#url-final").text(url_parcial);
                            $("#url_parcial_input").val(url_parcial);
                        }
                        else{
                            
                            var utm_medium = "&utm_medium="+ utm_medium;
                            //Checando o valor da ultima letra da url para inserir ou o & ou o ?
                            ultima_letra_url_inicial_alternativa=url_inicial_alternativa.slice(-1);
                            numero_ou_ultima_letra_url_inicial_alternativa = Number(ultima_letra_url_inicial_alternativa)
                            if(Number.isInteger(numero_ou_ultima_letra_url_inicial_alternativa)){
                                var url_parcial = url_inicial_alternativa+"&"+utm_source+utm_medium;
                            }
                            else{
                                var url_parcial  = url_inicial_alternativa+"?"+utm_source+utm_medium;
                            }  
                            $(".message-utm-medium").show();
                            $("#url-final").text(url_parcial);
                            $("#url_parcial_input").val(url_parcial);       
                        }
                    }   
                }
            });
                
            $("#shorten-button").click(function() {
                var $myForm = $("#elo_url_shortener_form");
                $($myForm).submit(function(event){
                    event.preventDefault();
                    var $formData = $(this).serialize();
                    var $thisURL = $myForm.attr('data-url') || window.location.href;
                    $.ajax({
                        method:"POST",
                        url: $thisURL , 
                        data:$formData,
                        success: handleFormSuccess,
                        error:handleFormError
                    });
                });
            });

            function handleFormSuccess(data, textStatus, jqXHR){
                $("#loading-gif").show();
                $('#final-elo-shorten-url').show();
                $('#final-elo-shorten-url-span').text(data);
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
            }

            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }

        });
                    
    </script>



</body>
</html>